@use '../utils/' as u;
.oeuvre {
    padding: 20px 20px;
    border-radius: 10px;
    width: fit-content;
    background-color: var(--grayShadow);
    img {
        width: 300px;
        border-radius: 10px;
    }
}