@use '../utils/' as u;
.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
}

.oeuvre {
    width: 100%;
    height: fit-content;
    padding: 20px 20px;
    margin-top: 30px;
    transition: 0.8s;
    transition-delay: 0.2s;
    background-color: var(--grayShadow);
    &:hover {
        transform: translateY(20px);
    }
    .image-container {
        overflow: hidden;
        img {
            width: 100%;
            margin-bottom: 20px;
            transition: transform 0.3s ease;
        }
        &:hover img {
            transform: scale(1.1);
        }
    }
    strong {
        font-size: 0.8rem;
        font-style: italic;
    }
    span {
        opacity: 0.4;
        font-size: 0.8rem;
        font-style: italic;
    }
    .edit-oeuvre {
        display: flex;
        justify-content: flex-end;
        gap: 5px;
        -webkit-column-gap: 5px;
        button {
            transition: 0.8s;
            transition-delay: 0.2s;
            background: unset;
            i {
                padding: 10px;
                border-radius: 50%;
                font-size: 0.8rem;
                cursor: pointer;
                background-color: var(--whiteColor);
                //border: 1px solid var(--blackColor);
                //color: var(--whiteColor);
                //background: linear-gradient(100deg, var(--whiteColor), var(--blackColor));
            }
            .fa-trash-can {
                color: rgb(205, 84, 84);
            }
            &:hover {
                transform: translateY(6px);
            }
        }
    }
    .approved-articles {
        display: flex;
        margin-top: 15px;
        align-items: center;
        //justify-content: center;
        gap: 10px;
        .erase,
        .accept {
            width: 100%;
            display: flex;
            align-items: center;
            text-align: center;
            gap: 5px;
            padding: 10px 15px;
            background-color: var(--whiteColor);
        }
        .erase {
            i,
            p {
                color: red;
            }
        }
    }
}